<h1>Books</h1>

<div class="container">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Opinion</th>
                </tr>
            </thead>
        <% @books.each do |book| %>
            <tbody>
                <tr>
                    <th> <%= image_tag 'sample-author1.jpg' %></th>
                    <th> <%= book.title %></th>
                    <th> <%= book.body %></th>
                </tr>
            </tbody>
        <% end %>
    </table>
</div>